@charset "UTF-8";

.pesquisa {
    width: 30%;
}

#ipesquisa {
    border-radius: 0 5px 5px 0;
}

.subtitle {
    font-size: 1.5em;
}

header {
    background-color: #082C4D;
    margin: auto;
    width: 95%;
    border-radius: 0 0 15px 15px;
}

table {
    font-weight: 500;
}

thead {
    font-size: 1.2em;
}

tbody > tr > td {
    text-decoration: none;
}

.footer-color {
    background-color: #082C4D;
}

.btn-primary {
    background-color: #082C4D;
    border: none;
}

.btn-primary:hover {
    background-color: #021a31;
}

.span-color {
    background-color: #082C4D;
}

.margin-table {
    margin-bottom: 100px;
}

.telefones {
    text-decoration: none;
    color: #000000;
}

.telefones:hover {
    text-decoration: underline;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}